@media(max-width: 900px){
    body{
        background: url(../images/Pngtreeschool_season_student_start_school_954651.jpg );
        background-size: cover;
        background-attachment: fixed;
    }
    .header{
        width: 100%;
    }

    .header .header-container nav input,label{
        margin: 40% 40% 0px 0px;
    }

    .noticiario {
        height: 4200px;
    }

    .noticiario .assunto-principal{
        margin-top: 100px;
        padding: 15vh 10%;
        height: 1500px;
        gap: 25px;
    }

    .noticiario .extra{
        flex-direction: column;
        align-items: center;
        height: 1600px;
        justify-content: space-evenly;
        margin-top: 100px;
        padding: 0px;
    }
    .noticiario .extra .titulo{
        text-align: center;
    }
    .noticiario .extra .informacoes-extra h3:last-of-type{
        width: auto;
        text-align: center;
    }
    .noticiario .extra .informacoes-extra{
        gap: 20px;
        width: 80%;
    }

    .noticiario .extra .fotos-relacionadas{
        margin-left: 0px;
        gap: 20px;
    }
    .noticiario .fotos-relacionadas .titulo{
        margin-bottom: 20px;
    }

    .noticiario .extra .paragrafo{
        width: 90%;
    }
    .noticiario .extra .subtitulo{
        text-align: center;
    }

    .mais-sobre .paragrafo{
        margin-left: 25px;
    }

    .titulo{
        font-size: 1.9rem;
    }
    .paragrafo{
        font-size: 1.5rem;
        margin-left: 0px;
        width: 90%;
    }
    .subtitulo{
        font-size: 1.7rem;
    }
}